<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autokitt">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" 
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="AutoKITT"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoKITT">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AutoKITT.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AutoKITT.FullScreen" />


        <activity
            android:name=".MyDrivingActivity"
            android:exported="false" />
        <activity
            android:name=".VehicleHealthActivity"
            android:exported="false" />
        <activity
            android:name=".AdvancedDataActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ExportActivity"
            android:exported="false" />
            
        <activity
            android:name=".MyDrivingErrorsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".OBDForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.autokitt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
